[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[packages]
aiofiles = "*"
aiohttp = "*"
aiosqlite = "*"
appdirs = "*"
arsenic = "*"
beautifulsoup4 = "*"
html5lib = "*"
discord.py = "*"
orm = "==0.1.5"
tzlocal = "*"
pytz = "*"
PyYaml = "*"

[dev-packages]
pylint = "*"
sphinx = "*"
rinohtype = "*"
yapf = "*"

[requires]
python_version = "3.8"

[scripts]
ci = "bash -c \"yapf -ir . && pylint --max-line-length 120 src setup.py \""
run = "python setup.py"
